.scrollto-top-fade-enter-active, .scrollto-top-fade-leave-active {
  transition: opacity .7s;
}
.scrollto-top-fade-enter, .scrollto-top-fade-leave-to{
  opacity: 0;
}

.vue-scrollto-top{
  position: fixed;
  z-index: 1000;
  cursor:pointer;
}

.vue-scrollto-top .default {
  width: 160px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  background-color: #f5c85c;
  border-radius: 3px;
}

.vue-scrollto-top .default span {
  color: #ffffff;
}
