.feature-title {
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.featurebox-holder {
  transition: all 0.18s ease-in-out;
  * {
    transition: all 0.18s ease-in-out;
  }

  @media screen and (max-width: 991px) {
    .pseudo-center {
      position: relative;
      transform: unset;
      top: unset;
    }
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: 320px;
    }
  }

  @media screen and (min-width: 992px) {
    animation: pulse 1s infinite;
    height: calc((100vw / 3) - 4rem);
    .box {
      transform: scale(0.1);
      .content {
          opacity: 0;
      }
    }

    &:hover {
      animation: none;

      .box {
        transform: scale(1);
        .content {
            opacity: 1;
        }
      }
    }
  }
}
