html {
	font-size: 12px;

	@media screen and (min-width: 400px) {
		font-size: 14px;
	}
	@media screen and (min-width: 768px) {
		font-size: 15px;
  }
  @media screen and (min-width: 1200px) {
		font-size: 16px;
	}
	@media screen and (min-width: 2200px) {
		font-size: 22px;
	}
}

a {
  text-decoration: none;
  color: $th-purple-dark;
  
  &:active {
    color: $th-purple-dark;
  }
}

/*

  Font Classes

*/

.th-font {
	font-family: 'Montserrat', sans-serif;
}

/*

  Color Classes

*/

.th-font {
	font-family: 'Montserrat', sans-serif;
}

.th-gradient-dark {
	background: linear-gradient($th-purple-dark, $th-purple-light);
}

.th-gradient-light {
	background: linear-gradient($th-purple-medium, $th-purple-light);
}

.fadein-white {
	position: relative;
	&:before {
    position: absolute;
    width: 120%;
    height: 100%;
    background: -webkit-gradient(linear, top, bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1));
    bottom: 0;
    content: '';
    z-index: 0;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	}
}

.bg-gradient-teal-right {
	background: rgb(31,194,181);
	background: -moz-linear-gradient(89deg, rgba(31,194,181,1) 60%, rgba(178,254,247,1) 100%);
	background: -webkit-linear-gradient(89deg, rgba(31,194,181,1) 60%, rgba(178,254,247,1) 100%);
	background: linear-gradient(89deg, rgba(31,194,181,1) 60%, rgba(178,254,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1fc2b5",endColorstr="#b2fef7",GradientType=1);
}

.fadedown-purple {
    &:before {
        position: absolute;
        width: 120%;
        height: 100%;
        background: linear-gradient(#cab8e591, $th-purple-medium);
        bottom: 0;
        content: '';
        z-index: -1;
        border-radius: 50%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.divider-purple {
    &:before {
        position: absolute;
        width: 120%;
        height: 100%;
        background: linear-gradient($th-purple-light, $th-purple-medium);
        bottom: 0;
        content: '';
        z-index: -1;
        border-radius: 50%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.fadedown-teal {
    &:before {
        position: absolute;
        width: 120%;
        height: 12vmax;
        background: linear-gradient(rgba(255,255,255, 0.4), rgb(31,194,181));
        bottom: 0;
        content: '';
        z-index: -1;
        border-radius: 50%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.fadedown-white {
    &:before {
        position: absolute;
        width: 120%;
        height: 12vmax;
        background: linear-gradient(rgba(255,255,255, 0.4), rgb(255,255,255));
        bottom: 0;
        content: '';
        z-index: -1;
        border-radius: 50%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.title-fade {
  padding-top: 2rem;
  &:before {
      position: absolute;
      width: 100%;
      height: 30vmax;
      background: linear-gradient(to bottom, rgba(255,255,255, 1) 0%, rgba(255,255,255, 0.9) 20%, rgba(255,255,255, 0) 80%, rgba(255, 255, 255, 0) 100%);
      top: 0;
      left: 0;
      content: '';
      z-index: 0;
  }
}

.linkbox {
  background-image: url(https://images.pexels.com/photos/614484/pexels-photo-614484.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  span {
    background: rgba(255, 255, 255, 0.8);
  }
}

@each $color, $hex in $th-text-colors {
  .th-text-#{$color} {
    color: #{$hex};
  }
  .hover\:th-text-#{$color}:hover {
    color: #{$hex};
  }
}

/*

  Responsive Utilities

*/


@media only screen and (orientation: portrait) {
  .hide-portrait {
    display: none;
  }
  .portrait-full {
    width: 100%;
  }
}

@media only screen and (orientation: landscape) {
  .hide-landscape {
    display: none;
  }
}

/*

  Position Utilities

*/
.pseudo-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


/*

	Keyframes

*/

@keyframes pulse {
   0% { transform: scale(1); }
   50% { transform: scale(1.1); }
   100% { transform: scale(1); }
}
