.header-wrapper {
  position: relative;
  z-index: 90;
}

.main-logo {
    display: block;
    position: absolute;
    background: url(/svg/KnafayimLogo.svg) no-repeat;
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    background-position: 100%;
    top: 4px;
    left: 48px;
}

.navigation {
  ul {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    & > ul.main-menu {
      display: flex;

      ul {
        font-size: 0.8rem;
        list-style-type: none;
        padding: 0;
        width: 112%;

      }
      li {
        &:hover {
          & > ul {
            display: block!important;
          }
        }
      }

      ul.submenu {
        width: 9rem;
        display: none;
        position: absolute;
        background: white;
        top: 100%; left: -40%;
        z-index: 2;

        ul {
          position: absolute;
          left: 100%;
          width: 120%;
          top: 0;
          background: white;
        }
      }
    }
  }
}

nav a.selected {
    &:before {
        content: " ";
        position: absolute;
        width: 20%;
        border-bottom: 2px solid #5B25AC;
        border-radius: 15px;
        top: 60%;
        left: 0;
    }
    &:after {
        content: " ";
        position: absolute;
        width: 70%;
        border-bottom: 2px solid #5B25AC;
        border-radius: 15px;
        top: 60%;
        right: 0;
    }
}


/* Mobile Menu */
.menu-icon {
  cursor: pointer;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  z-index: 99;
  height: 4rem;
  img {
    max-width: 3rem;
    height: 3rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.close {
    top: 2rem;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  background: #fff;
  padding: 1rem 8% 2rem;
}

.item {
  line-height: 2rem;
}

.AccordionItem {
  position: relative;
}
.AccordionItem_Trigger {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 48px;
  text-align: center;

  span {
    position: absolute;
    right: 0;
    width: 100%;
  }
}
