.hero {
  height: calc(100vh - 96px);

  @media screen and (min-width: 400px) {
    height: calc(100vh - 112px);
  }
  @media screen and (min-width: 768px) {
    height: calc(100vh - 128px);
  }
  @media screen and (min-width: 2200px) {
    height: calc(100vh - 176px);
  }
}

.header-image {
  position: relative;
  height: 80vh;
  background-attachment: fixed;

  @media screen and (orientation: portrait) {
    height: 65vh;
  }

  .content {
    z-index: 1;
  }

  &::before {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, 0.35);
  }
}

.bg-home-hero {
  background-image: url(/img/banner.jpg);
  background-position: 15% 50%;
}

.bg-map {
  background-image: url(/img/cares/map.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

section.cta-section {
  min-height: 35vh;
  position:relative;
  * {
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.6;
    z-index: 0;
  }

  &.light {
    &::before {
      background-color: #eee;
      opacity: 0.6;

    }
  }

  // @media screen and (max-width: 768px) {
  //   &::before {
  //     opacity: 0.7;
  //   }
  // }
}

section.features {
  position: relative;
  background-image: url(/img/home-features.jpg);
  .w-full {
    position: relative;
    z-index: 1;
  }
  &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient($th-purple-medium, transparent);
      bottom: 0;
      content: '';
      z-index: 0;
  }
}

section.care-packet {
    background-image: url(/img/IMG_8126.JPG);
    background-position: right top;

    @media only screen and (orientation: portrait) {
      background: none;
    }

    .transparent-overlay {
        background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0));
    }
}


section.tele {
  position: relative;
}
.divider {
  transform: rotateX(180deg) translateY(4px);
  svg {
    height: 10vw;
    max-height: 120px;
  }
}

.banner-event {
  background-image: url('/img/event-banner.jpg');
  min-height: 35vmax;
}

// }
// .spacer {
//   width: 100%;
//   height: 50px;
//   position: relative;
//   &:after {
//       position: absolute;
//       width: 120%;
//       height: 100%;
//       background: rgb(31,194,181);
//       background: -moz-linear-gradient(89deg, rgba(31,194,181,1) 60%, rgba(178,254,247,1) 100%);
//       background: -webkit-linear-gradient(89deg, rgba(31,194,181,1) 60%, rgba(178,254,247,1) 100%);
//       background: linear-gradient(89deg, rgba(31,194,181,1) 60%, rgba(178,254,247,1) 100%);
//       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1fc2b5",endColorstr="#b2fef7",GradientType=1);
//       bottom: 0;
//       content: '';
//       z-index: 0;
//       border-radius: 50%;
//       border-bottom-left-radius: 0;
//       border-bottom-right-radius: 0;
//   }
// }
