
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Theme
$primary: #5B25AC;
$secondary: #1FC1B4;

$th-purple-dark: #7745C3;
$th-purple-medium: #A482DF;
$th-purple-light: #CAB8E5;

// Text colors
$th-text-colors: (
	purple: #5B25AC
);
