<template>
  <div class="AccordionItem_Container py-4">
    <div class="flex flex-row items-center justify-between relative px-4 py-2 cursor-pointer" @click="toggleAccordion">
      <span class="text-secondary-accent font-bold hover:th-text-teal no-underline hover:th-text-purple block h-full py-2">
        {{ title }}
      </span>
      <div @click="toggleAccordion" class="trigger">
        <img v-if="!isOpen" src="/img/icons/ic_add_more.svg" />
        <img v-if="isOpen" src="/img/icons/ic_clear_close.svg" />
      </div>
    </div>
    <Content class="overflow-hidden" :pose="isOpen ? 'opened' : 'closed'">
      <p class="text-primary">
        <slot></slot>
      </p>
    </Content>
  </div>
</template>
<script>
import posed from 'vue-pose';
export default {
  data: () => ({
    isOpen: false,
  }),
  components: {
    Content: posed.div({
      closed: { height: 0, transition: { duration: 180, ease: "linear" } },
      opened: { height: 'auto', transition: { duration: 180, ease: "linear" } }
    }),
  },
  props: ['title'],
  methods: {
    toggleAccordion () {
      console.log(this.title);
      this.isOpen = !this.isOpen;
    },
  },
};
</script>
