<template>
  <a :href="link" :class="getClass(color)"><slot></slot></a>
</template>

<script>
  export default {
    props: ['link', 'color', 'size'],
    methods: {
      getClass() {
        /* takes a Vue prop to use any of the colors/sizes defined in tailwind.js */

        return `bg-${this.color} leading-loose hover:bg-${this.color}-dark text-white text-${this.size || 'base'} shadow font-medium py-2 px-6 rounded-full no-underline my-2`;
      }
    }
  }
</script>
