<template>
  <div class="mx-8 lg:mx-12">
    <h-2 marginBottom="4" class="mt-6">{{ city }}</h-2>
    <span class="mt-2"><slot></slot></span>
  </div>
</template>

<script>
  export default {
    props: ['city'],
  }
</script>
