<template>
  <section :class="`cta-section ${light ? 'light ' : ''}w-screen flex flex-col justify-center items-${align || 'center'} bg-cover bg-center pt-32 py-64 px-8`" :style="`background-image: url(${ img || '/img/home-cta.jpg'});`">
  	<div :class="`text-${taglineColor || 'primary'} text-3xl font-bold leading-normal my-4 w-full text-${align || 'center'}`">{{ tagline }}</div>
    <p :class="`leading-normal max-w-md text-${textColor || 'primary'} font-bold text-lg lg:text-xl lg:max-w-lg my-8`"><slot></slot></p>
    <kbutton :link="link" color="teal">{{ buttonText }}</kbutton>
  </section>
</template>

<script>
  export default {
    props: ['link', 'buttonText', 'tagline', 'align', 'img', 'light', 'taglineColor', 'textColor'],
  }
</script>
