<template>
  <div class="AccordionItem_Container">
    <div class="flex flex-row items-center justify-between relative">
      <span class="text-secondary-accent font-bold hover:th-text-teal no-underline hover:th-text-purple block h-full py-2">Anembryonic or Blighted Ovum</span>
      <div @click="toggleAccordion" class="trigger">
        <img v-if="!isOpen" src="/img/icons/ic_add_more.svg" />
        <img v-if="isOpen" src="/img/icons/ic_clear_close.svg" />
      </div>
    </div>
    <Content class="overflow-hidden" :pose="isOpen ? 'opened' : 'closed'">
      <p class="text-primary">
        Fertilization occurs and the gestational sac develops. Although the woman is pregnant, there is no embryo seen on the ultrasound.
      </p>
    </Content>
  </div>
</template>
<script>
import posed from 'vue-pose';
export default {
  data: () => ({
    isOpen: false,
  }),
  components: {
    Content: posed.div({
      closed: { height: 0, transition: { duration: 180, ease: "linear" } },
      opened: { height: 'auto', transition: { duration: 180, ease: "linear" } }
    }),
  },
  // props: ['children', 'name', 'link', 'depth'],
  methods: {
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>
