<template>
    <div>
      <h2 class="feature-title text-white text-xl">
        {{ title }}
      </h2>
      <div class="featurebox-holder w-full">
        <div class="box rounded-full w-full h-full text-center flex-col items-center justify-center bg-black lg:bg-teal hover:bg-black relative border-primary border:0 lg:border-8 hover:border-0 mx-auto">
          <div class="pseudo-center content">
            <h2 class="text-white">{{title}}</h2>
            <p class="text-white text-sm w-3/4 mx-auto my-8">
              <slot></slot>
            </p>
            <kbutton :link="link" color="teal">GO</kbutton>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  export default {
    props: ['title', 'link'],
  }
</script>
