<template>
    <footer class="w-full footer mt-48">
      <div  v-if="this.isHome" class="relative">
        <section class="divider-purple absolute pin-b flex flex-col items-center z-0 xl:pb-12">
          <div class="text-white text-center w-screen my-12 leading-normal">
            <kbutton link="#" color="teal" size="xl">I want to receive a Weekly Message</kbutton>
          </div>
          <div v-if="!this.isHome" class="w-screen my-6" />
          <ul class="list-reset w-full justify-center hidden xl:flex">
            <li :key="link.link" class="mr-8" v-for="link in this.navLinks">
              <a class="text-white hover:th-text-purple no-underline hover:th-text-purple block h-full py-2" :href="link.link">{{ link.name }}</a>
            </li>
          </ul>
        </section>
      </div>
      <div :class="`bg-primary w-full px-8 py-4 text-white flex flex-wrap${this.isHome ? ' mt-20' : ''}`">
        <div class="footer-left hidden xl:flex items-center w-1/6">© Knafayim 2018</div>
        <div class="footer-center flex w-full xl:w-2/3 justify-center">
          <ul class="list-reset flex">
            <li>
              <a href="#" class="leading-loose text-white mr-4 xl:mr-8"></i>Terms</a>
            </li>
            <li>
              <a href="#" class="leading-loose text-white mr-4 xl:mr-8"></i>Privacy Policy</a>
            </li>
          </ul>
          <span class="number leading-loose mr-4 xl:mr-8"><i class="fas fa-phone fa-flip-horizontal mr-3 text-base"></i>(917)627-5528</span>
          <span class="email leading-loose"><i class="far fa-envelope mr-3 text-base"></i>support@knafayimwings.org</span>
        </div>
        <div class="footer-right hidden xl:block w-1/6">Join us at <a class="leading-loose text-white underline" href="https://www.facebook.com">Facebook</a></div>
      </div>
      <div class="xl:hidden sm:flex bg-primary w-full px-8 pb-2 text-white flex subfooter justify-center">
        <div class="footer-left leading-loose text-right mr-4">© Knafayim 2018</div>
        <ul class="list-reset flex">
          <li>
            <a href="#" class="leading-loose text-white mr-4 xl:mr-8"></i>Terms</a>
          </li>
          <li>
            <a href="#" class="leading-loose text-white mr-4 xl:mr-8"></i>Privacy Policy</a>
          </li>
        </ul>
        <div class="footer-right leading-loose">Join us at<a class="leading-loose text-white underline inline-block ml-2" href="https://www.facebook.com">Facebook</a></div>
      </div>
    </footer>
</template>

<script>
  export default {
    data: function () {
      return {
        navLinks: [
          {
            name: 'Knafayim Cares',
            link: '#',
          },
          {
            name: 'Stories',
            link: '#',
          },
          {
            name: 'Education',
            link: '#',
          },
          {
            name: `Men's Corner`,
            link: '#',
          },
          {
            name: 'Volunteer',
            link: '#',
          },
          {
            name: 'About',
            link: '#',
          },
          {
            name: 'Contact',
            link: '#',
          },
        ],
        isHome: window.location.pathname === '/'
      }
    },
  }
</script>
