<template>
    <h2 :class="`subtitle text-${color || 'primary'} text-${large ? '4xl' : '2xl'} font-extrabold mb-${marginBottom || 12}`"><slot></slot></h2>
</template>

<script>
  export default {
    props: ['color', 'large', 'marginBottom'],
  }
</script>
