<!-- TODO: refactor to a recursive component and make careLinks a child of navLinks -->
<template>
  <div class="relative">
    <mobilemenu :navLinks="navLinks" :careLinks="careLinks" />
    <div class="header-wrapper flex justify-between">
      <a href="/" class="logo flex-initial h-32 w-32 bg-white p-3">
        <img class="" src="/svg/KnafayimLogo.svg" />
      </a>

      <div class="flex-initial">
        <div class="top-ribbon border-b border-purple-light h-8 flex justify-end items-center pr-4 md:px-8 text-sm font-medium">
          <span class="number leading-loose mr-2 lg:mr-8"><i class="fas fa-phone fa-flip-horizontal mr-3 text-base"></i>(917)627-5528</span>
          <span class="email leading-loose"><i class="far fa-envelope mr-3 text-base"></i>support@knafayimwings.org</span>
        </div>
        <nav class="navigation px-4 flex justify-between align-center h-24">
          <ul class="main-menu flex items-center list-reset leading-loose font-medium">
    				<!-- <li class="mr-8 relative">
    					<a href="/knafayim-cares" class="text-primary block h-full py-2 selected">Knafayim Cares</a>
              <ul class="submenu">
                <li v-for="link in this.careLinks.children" class="font-bold block h-full relative">
                  <a :href="link.link" class="text-primary hover:text-secondary-accent block h-full py-2 px-4">{{ link.name }}</a>
                  <ul v-if="link.children">
                    <li v-for="sublink in link.children" class="font-bold block h-full relative">
                      <a :href="sublink.link" class="text-primary hover:text-secondary-accent block h-full py-2 px-4">{{ sublink.name }}</a>
                      <ul v-if="sublink.children">
                        <li v-for="innerlink in sublink.children" class="font-bold block h-full relative">
                          <a :href="innerlink.link" class="text-primary hover:text-secondary-accent block h-full py-2 px-4">{{ innerlink.name }}</a>
                          <ul v-if="innerlink.children">
                            <li v-for="deeplink in innerlink.children" class="font-bold block h-full relative">
                              <a :href="deeplink.link" class="text-primary hover:text-secondary-accent block h-full py-2 px-4">{{ deeplink.name }}</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
    				</li> -->
            <li class="mr-8 relative" v-for="link in this.navLinks">
              <a class="text-white hover:th-text-purple no-underline hover:th-text-purple block h-full py-2" :href="link.link">{{ link.name }}</a>
              <ul class="submenu shadow">
                <li v-for="link in link.children" class="font-bold block h-full relative">
                  <a :href="link.link" class="text-primary hover:text-secondary-accent block h-full py-2 px-4">{{ link.name }}</a>
                  <ul v-if="link.children" class="shadow">
                    <li v-for="sublink in link.children" class="font-bold block h-full relative">
                      <a :href="sublink.link" class="text-primary hover:text-secondary-accent block h-full py-2 px-4">{{ sublink.name }}</a>
                      <ul v-if="sublink.children" class="shadow">
                        <li v-for="innerlink in sublink.children" class="font-bold block h-full relative">
                          <a :href="innerlink.link" class="text-primary hover:text-secondary-accent block h-full py-2 px-4">{{ innerlink.name }}</a>
                          <ul v-if="innerlink.children" class="shadow">
                            <li v-for="deeplink in innerlink.children" class="font-bold block h-full relative">
                              <a :href="deeplink.link" class="text-primary hover:text-secondary-accent block h-full py-2 px-4">{{ deeplink.name }}</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="mr-2">
              <kbutton class="cta-button" link="/donate" color="teal">Donate Now</kbutton>
            </li>
    			</ul>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        navLinks: [
          {
            name: 'Knafayim Cares',
            link: '/knafayim-cares',
            children: [
              {
                name: 'For Families',
                link: '#',
                children: [
                  {
                    name: 'Support',
                    link: '#',
                    children: [
                      {
                        name: 'Holding Hands',
                        link: '/knafayim-cares/holding-hands',
                        children: [
                          {
                            name: 'Early Dreams (Miscarriage)',
                            link: '/knafayim-cares/early-dreams',
                          },
                          {
                            name: 'Heartbeats (Infant Loss)',
                            link: '/knafayim-cares/heartbeat',
                          },
                          {
                            name: 'Pathways (post hysterectomy)',
                            link: '/knafayim-cares/pathways',
                          },
                          {
                            name: 'Secrets (non viable)',
                            link: '/knafayim-cares/secret',
                          },
                          {
                            name: 'Still a Mother (stillborn)',
                            link: '/knafayim-cares/still-a-mother',
                          },
                        ]
                      },
                      {
                        name: 'Wings',
                        link: '/knafayim-cares/wings',
                      },
                    ],
                  },
                  {
                    name: 'Services',
                    link: '#',
                    children: [
                      {
                        name: 'Ask The Doctor',
                        link: '/knafayim-cares/ask-the-doctor',
                      },
                      {
                        name: 'Pregnancy After Loss',
                        link: '/knafayim-cares/pal',
                      },
                      {
                        name: 'Perinatal Mental Health',
                        link: '/knafayim-cares/mental-health',
                      },
                      {
                        name: 'Burial Service',
                        link: '/knafayim-cares/burial-service',
                      },
                    ],
                  },
                  {
                    name: 'Resources',
                    link: '#',
                    children: [
                      {
                        name: 'Support Group',
                        link: '/knafayim-cares/support-group',
                      },
                      {
                        name: 'Chat Groups',
                        link: '/knafayim-cares/chat-groups',
                      },
                    ],
                  },
                ]
              },
              {
                name: 'For Professionals',
                link: '/knafayim-cares/professional',
              },
            ]
          },
          {
            name: 'Stories',
            link: '#',
          },
          {
            name: 'Education',
            link: '/education',
            children: [
              {
                name: 'For Families',
                link: '#',
                children: [
                  {
                    name: 'Medical Emergency',
                    link: '/education/families/medical-emergency',
                  },
                  {
                    name: 'Information',
                    link: '/education/families/information',
                  },
                  {
                    name: 'Medical Terms',
                    link: '/education/families/medical-terms',
                  },
                  {
                    name: 'Halacha',
                    link: '/education/families/halacha',
                  },
                ],
              },
              {
                name: 'For Professionals',
                link: '#',
                children: [
                  {
                    name: 'Trainings',
                    link: '/education/professionals/trainings',
                  },
                  {
                    name: 'Information',
                    link: '/education/professionals/information',
                  },
                ],
              },
            ],
          },
          {
            name: `Men's Corner`,
            link: '/mens-corner',
          },
          {
            name: 'Volunteer',
            link: '/volunteer',
          },
          {
            name: 'About',
            link: '#',
          },
          {
            name: 'Contact',
            link: '#',
          },
        ],
        careLinks: {
          name: 'Knafayim Cares',
          link: '/knafayim-cares',
          children: [
            {
              name: 'For Families',
              link: '#',
              children: [
                {
                  name: 'Support',
                  link: '#',
                  children: [
                    {
                      name: 'Holding Hands',
                      link: '#',
                      children: [
                        {
                          name: 'Early Dreams (Miscarriage)',
                          link: '/knafayim-cares/early-dreams',
                        },
                        {
                          name: 'Heartbeats (Infant Loss)',
                          link: '/knafayim-cares/heartbeat',
                        },
                        {
                          name: 'Pathways (post hysterectomy)',
                          link: '/knafayim-cares/pathways',
                        },
                        {
                          name: 'Secrets (non viable)',
                          link: '/knafayim-cares/secret',
                        },
                        {
                          name: 'Still a Mother (stillborn)',
                          link: '/knafayim-cares/still-a-mother',
                        },
                      ]
                    },
                    {
                      name: 'Wings',
                      link: '/knafayim-cares/wings',
                    },
                  ],
                },
                {
                  name: 'Services',
                  link: '#',
                  children: [
                    {
                      name: 'Pregnancy After Loss',
                      link: '/knafayim-cares/pal',
                    },
                  ],
                },
                {
                  name: 'Resources',
                  link: '#',
                  children: [
                    {
                      name: 'Support Group',
                      link: '/knafayim-cares/support-group',
                    },
                    {
                      name: 'Chat Groups',
                      link: '/knafayim-cares/chat-groups',
                    },
                  ],
                },
              ]
            },
            {
              name: 'For Professionals',
              link: '#',
            },
          ]
        }
      }
    },
  }
</script>
