<template>
  <section :class="`header-image relative flex flex-col justify-center items-start w-full bg-cover bg-${bgPosition || 'center'} px-8 lg:px-12`" :style="`background-image:url(${url});margin-bottom: -10vh;`">
      <div class="content">
        <span class="text-2xl lg:text-3xl text-primary font-bold">{{ tagline }}</span>
        <p :class="`leading-normal font-bold text-base mt-8 lg:text-lg text-grey-darkest max-w-md`"><slot></slot></p>
      </div>
      <section :class="`fadedown-${fadeColor || 'teal'} absolute pin-b flex flex-col items-center z-0 pb-12`">
       <div class="h-48 w-screen"></div>
      </section>
	</section>
</template>

<script>
  export default {
    props: ['tagline', 'url', 'fadeColor', 'bgPosition'],
  }
</script>
