<template>
  <section :class="getClass()">
    <div class="w-full lg:w-1/2 min-h-96 bg-cover bg-center" :style="getUrl()"></div>
    <div class="w-full lg:w-1/2 text-grey-darkest min-h-half px-4 lg:px-16 flex flex-col justify-center py-20">
      <h-2>{{ title }}</h-2>
      <p class="mb-12 leading-loose">
        <slot>
        </slot>
			</p>
    </div>
  </section>
</template>

<script>
  export default {
    props: ['img', 'invert', 'title'],
    methods: {
      getUrl() {
        /* takes a Vue prop to set background dynamically: best practice as opposed to sporadic CSS classes for every different element */
        return {
          'background-image': `url(${this.img})`
        }
      },
      getClass() {
        /* takes a Vue prop to use reverse the alignment */

        return `w-full flex flex-wrap lg:flex-row${this.invert ? '-reverse' : ''}`;
      }
    }
  }
</script>
