<template>
    <div class="cursor-pointer max-w-md">
      <div class="text-left px-6 py-4 m-4 bg-white shadow rounded-lg">
        <p class="text-xl font-semibold text-secondary-accent leading-tight">{{ title }}</p>
        <p class="text-base py-1 leading-normal bg-white text-grey-darkest text-primary-dark"><slot></slot></p>
      </div>
    </div>
</template>

<script>
  export default {
    props: ['title'],
  }
</script>
