<template>
  <div class="mx-8 lg:mx-12">
    <img src="/img/cares/location.svg" class="w-6" alt="pointer" />
    <h-2 class="mt-6"><slot></slot></h-2>
  </div>
</template>

<script>
  export default {
  }
</script>
