<template>
  <div>
    <div class="menu-icon" @click="toggleModal">
      <Img :pose="!isVisible ? 'visible': 'hidden'" src="/img/icons/menu.svg" />
      <Img :pose="isVisible ? 'visible': 'hidden'" src="/img/icons/close.svg" />
    </div>
    <Sidebar class="sidebar overflow-y-scroll" :pose="isVisible ? 'visible': 'hidden'">
      <div class="mb-6 flex justify-center"><kbutton class="cta-button" link="/donate" color="teal">Donate Now</kbutton></div>
      <ul class="flex flex-col list-reset leading-loose font-medium">
        <Item v-for="link in this.navLinks" class="item pl-4 border-grey-light border-b" :key="link.name">
          <a v-if="!link.children"class="text-primary hover:th-text-teal no-underline hover:th-text-purple block h-full py-2" :href="link.link">{{ link.name }}</a>
          <accordion-menu v-if="link.children" :depth="0" :link="link.link" :name="link.name" :children="link.children" />
        </Item>
      </ul>
    </Sidebar>
    <lock-scroll v-if="isVisible" />
  </div>
</template>
<script>
import posed from 'vue-pose';
import { tween } from 'popmotion';

export default {
  data: () => ({
    isVisible: false,
    items: [0, 1, 2, 3, 4]
  }),
  props: ['navLinks', 'careLinks'],
  components: {
    Img: posed.img({
      visible: { opacity: 1, transition: { duration: 180, ease: "linear" } },
      hidden: { opacity: 0, transition: { duration: 180, ease: "linear" } }
    }),
    Sidebar: posed.div({
      visible: {
        x: 0,
        beforeChildren: true,
        staggerChildren: 30,
        transition: {
          y: {
            type: 'tween',
            duration: '200',
          }
        }
      },
      hidden: {
        x: '100%',
        afterChildren: true
      },
    }),
    Item: posed.div({
      visible: { opacity: 1, y: 0 },
      hidden: { opacity: 0, y: 40 }
    }),
  },
  methods: {
    toggleModal () {
      this.isVisible = !this.isVisible;
    }
  }
};
</script>
