<template>
  <div :style="`padding-left: ${depth * 2}%`" class="AccordionItem_Container">
    <div class="AccordionItem">
      <a class="text-primary hover:th-text-teal no-underline hover:th-text-purple block h-full py-2" :href="link">{{ name }}</a>
      <div v-if="children" class="AccordionItem_Trigger text-primary text-4xl" @click="toggleAccordion">
        <Trigger :pose="!isOpen ? 'shown': 'notShown'">+</Trigger>
        <Trigger style="opacity:0;" :pose="isOpen ? 'shown': 'notShown'">-</Trigger>
      </div>
    </div>
    <div class="overflow-hidden">
      <accordion-menu v-if="isOpen" :depth="depth + 1" v-for="child in children" :key="child.name" :name="child.name" :link="child.link" :children="child.children"></accordion-menu>
    </div>
  </div>
</template>
<script>
import posed from 'vue-pose';
export default {
  data: () => ({
    isOpen: false,
  }),
  components: {
    Trigger: posed.span({
      shown: { opacity: 1, transition: { duration: 180, ease: "linear" } },
      notShown: { opacity: 0, transition: { duration: 180, ease: "linear" } }
    }),
  },
  props: ['children', 'name', 'link', 'depth'],
  methods: {
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>
