<template>
  <div class="fixed pin z-100 overflow-auto flex py-32">
    <div class="relative p-8 bg-white w-full max-w-md m-auto flex-col flex rounded-lg">
      <span class="text-secondary-accent text-xl font-black no-underline block h-full py-2">
        Holding Hands
      </span>

      <span class="text-secondary-accent text-base mt-3 block font-light">
        If you need someone to hold your hand, please complete the form below, and someone will connect with you in 24 hours.
      </span>

      <form class="w-full mt-5" @submit.prevent="processForm">
        <!--To Do: Use from TextInput.vue-->
        <div class="flex items-center border-b border-b-2 border-teal py-2">
          <input class="appearance-none bg-transparent border-none w-full text-primary mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Name" aria-label="Name" v-model="packageForm.name" name="name" v-validate="'required|min:2|max:255'">
        </div>
        <vee-error :error="errors.first('name')"></vee-error>

        <div class="flex items-center border-b border-b-2 border-teal py-2 my-2">
          <input class="appearance-none bg-transparent border-none w-full text-primary mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Address:" aria-label="Address" v-model="packageForm.address" name="address" v-validate="'required|min:2|max:255'">
        </div>
        <vee-error :error="errors.first('address')"></vee-error>
        

        <div class="flex items-center border-b border-b-2 border-teal py-2 my-2">
          <input class="appearance-none bg-transparent border-none w-full text-primary mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="City:" aria-label="City" v-model="packageForm.city" name="city" v-validate="'required|min:2|max:255'">
        </div>
        <vee-error :error="errors.first('city')"></vee-error>

        <div class="flex items-center border-b border-b-2 border-teal py-2 my-2">
          <input class="appearance-none bg-transparent border-none w-full text-primary mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="State:" aria-label="State" v-model="packageForm.state" name="state" v-validate="'required|min:2|max:255'">
        </div>
        <vee-error :error="errors.first('state')"></vee-error>

        <div class="flex items-center border-b border-b-2 border-teal py-2 my-2">
          <input class="appearance-none bg-transparent border-none w-full text-primary mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Zip:" aria-label="Zip" v-model="packageForm.zip" name="zip" v-validate="'required|min:2|max:255'">
        </div>
        <vee-error :error="errors.first('zip')"></vee-error>

        <div class="flex items-center border-b border-b-2 border-teal py-2 my-2">
          <input class="appearance-none bg-transparent border-none w-full text-primary mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Email" aria-label="Email" v-model="packageForm.email" name="email" v-validate="'required|email|min:2|max:255'">
        </div>
        <vee-error :error="errors.first('email')"></vee-error>

        <div class="flex items-center border border-teal rounded-lg py-2 my-8">
          <textarea class="appearance-none bg-transparent border-none w-full text-primary mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Message" aria-label="Message" v-model="packageForm.message" name="message" v-validate="'required|min:2|max:1000'"></textarea>
        </div>
        <vee-error :error="errors.first('message')"></vee-error>

        <label class="flex py-5 text-teal">
          <input class="mr-2 leading-tight" type="checkbox" v-model="packageForm.is_subscribed" name="is_subscribed" value="1">
          <span class="text-base">
            Join Knafayim mailing
          </span>
        </label>

          <span class="text-red-dark" v-show="serverErrors" v-text="firstServerError"></span>
        
        <div class="flex py-5">
          <button v-show="!submitted" v-text="loading ? 'Please wait' : 'Submit' " :disabled="loading" class="bg-teal hover:bg-blue-dark text-white font-bold py-2 px-4 rounded-full">
          </button>


          <span v-show="submitted" class="text-secondary-accent text-base mt-3 block font-light">
            We will get back to you shortly
          </span>
          
        </div>
      </form>

    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        loading: false,
        submitted: false,
        serverErrors: {},
        packageForm: {
          name: '',
          address: '',
          city: '',
          state: '',
          zip: '',
          email: '',
          message: '',
          is_subscribed: ''
        }
      }
    },

    computed: {
      firstServerError() {
        let firstErrorKey = Object.keys(this.serverErrors).shift();

        if(firstErrorKey !== undefined){
          return this.serverErrors[firstErrorKey][0];
        }
      }
    },
    methods: {
      processForm() {
        this.$validator.validateAll().then(isFormValid => {
          if(isFormValid){
            this.loading = true;
            this.serverErrors = {};

            axios
              .post('/api/care-packets', this.packageForm)
              .then(r => this.submitted = true )
              .catch(e => {
                // Validation Error
                
                if(e.response.data.hasOwnProperty('errors')){
                  //console.log(e.response.data.errors);
                  this.serverErrors = e.response.data.errors;
                  let firstError = Object.keys(this.serverErrors).shift();


                }
                // Server Error
                /*else {
                  alert('Looks Like Something Went Wrong');
                }*/
              })
              .finally(r => this.loading = false );
          }
        })
      }
    }
  }
</script>
