<!--To Do: Use in RequestAPackage.vue-->
<template>
  <div class="flex items-center border-b border-b-2 border-teal py-2 my-2">
    <input class="appearance-none bg-transparent border-none w-full text-primary mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Address:" aria-label="Address" name="Address">
  </div>
</template>

<script>
  export default {
    
  }
</script>